<div id='blackbc'>
	
	<div>
		<div style="width:425px" id="__ss_12821799"> <strong style="display:block;margin:12px 0 4px"><a href="http://www.slideshare.net/aynne/refreshsf-12821799" title="Refreshsf" target="_blank">Refreshsf</a></strong> <iframe src="http://www.slideshare.net/slideshow/embed_code/12821799" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe> <div style="padding:5px 0 12px"> View more <a href="http://www.slideshare.net/" target="_blank">presentations</a> from <a href="http://www.slideshare.net/aynne" target="_blank">Aynne Valencia</a> </div> </div>
	</div>
	
	
</div>