<% content_for :stylesheets do %>
	<%= stylesheet_link_tag 'slideshow' %>
<% end %>


		<div id='blackbc'>
			<div style="width:595px; 	margin: 50px auto;" id="__ss_12821799"> <strong style="display:block;margin:12px 0 4px"><a href="http://www.slideshare.net/aynne/refreshsf-12821799" title="Refreshsf" target="_blank">Refreshsf</a></strong> <iframe src="http://www.slideshare.net/slideshow/embed_code/12821799" width="595" height="497" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe> <div style="padding:5px 0 12px"> View more <a href="http://www.slideshare.net/" target="_blank">presentations</a> from <a href="http://www.slideshare.net/aynne" target="_blank">Aynne Valencia</a> </div> </div>

		</div>

	
