<div id='blackbc'>
	
	<div>
<div style="width:595px" id="__ss_12738336"> <strong style="display:block;margin:12px 0 4px"><a href="http://www.slideshare.net/aynne/refreshsf" title="RefreshSF" target="_blank">RefreshSF</a></strong> <object id="__sse12738336" width="595" height="497"> <param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=dignityspacecc2012-120429170438-phpapp01&stripped_title=refreshsf&userName=aynne" /> <param name="allowFullScreen" value="true"/> <param name="allowScriptAccess" value="always"/> <param name="wmode" value="transparent"/> <embed name="__sse12738336" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=dignityspacecc2012-120429170438-phpapp01&stripped_title=refreshsf&userName=aynne" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="transparent" width="595" height="497"></embed> </object> <div style="padding:5px 0 12px"> View more <a href="http://www.slideshare.net/" target="_blank">presentations</a> from <a href="http://www.slideshare.net/aynne" target="_blank">Aynne Valencia</a> </div> </div>
	</div>
	
	
</div>