
<div id='background'>

</div>


<div id='team'>
	
	<p id='teama'>
	TEAM
	</p>
	<p>
	<a href='http://twitter.com/aynne'>Aynne Valencia</a>
	</p>
	
	<p>
	<a href='http://twitter.com/foomdock'>Fumiko Docker</a>
	</p>
	
	<p>
	<a href='http://twitter.com/kapow_katie'>Katie Crepeau</a>
	</p>
	
	<p>	
	<a href='http://twitter.com/kroussi'>Khadijah Roussi</a>
	</p>
	
	<p>
	<a href='http://twitter.com/raulsann'>Raul San Narciso</a>
	</p>

	<p>
	<a href='http://twitter.com/urbnmatters'>Stephanie Houston</a>
	</p>
	
	<p>
	<a href='http://twitter.com/doricaminong'>Dori Caminong</a>
	</p>

	<p>
	<a href='http://twitter.com/gravitymax'>Vivien Park</a>
	</p>

	<p>
	Tansy
	</p>

	<p>
	Valerie
	</p>

	<p>
	Scott
	</p>

	<p>
	Maura
	</p>

	<p>
	Giovanni
	</p>
	
	
</div>



<div id='viewslideshow'>
	<a href='/slideshow'><img src='<%= image_path "drp.png" %>'></a>
</div>


