/* STEPS */

.step{
	text-align:center;
	width:980px !important;
	img{
		width:900px;
	}
}



/* NOT SUPPORTED */

.no-support-message { display:none; }
.impress-not-supported .no-support-message { display:block; }