<!DOCTYPE html>
<html>
<head>
  <title>Refresh SF</title>

<meta name="description" content="Refresh SF saves lives, one shower at a time. Our mission is to provide water + hygiene access for those in need as they break cycles of poverty and homelessness to restore dignity and hope in a safe, clean and sustainable wash mobile station"/>
<meta property="og:description" content="Refresh SF saves lives, one shower at a time. Our mission is to provide water + hygiene access for those in need as they break cycles of poverty and homelessness to restore dignity and hope in a safe, clean and sustainable wash mobile station"/>
<meta name="keywords" content="Water Access, Clean Water San Francisco, homelessness, Tenderloin, San Francisco"/>
<meta property="og:image" content="http://emotion.is/"/>
<meta property="og:url" content="http://emotion.is/"/>


  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31277766-1']);
  _gaq.push(['_setDomainName', 'refreshsf.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
